.App {
  margin: auto;
  width: 1200px;
}

.heroImg {
  background-image: url("../public/hero_image.jpg");
  display: flex;
  align-items: center;
  background-position: 0% 20%;
}

.button {
  color: white;
  background: black;
  border: none;
  padding: 6px 30px;
  border-radius: 6px;
  margin: 8px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
